@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Hanken Grotesk", sans-serif;
*/

/* CUSTOM PROPERTIES / VARIABLES */

:root {
  /* FONTS */

  --font-primary: "Hanken Grotesk", sans-serif;
  --font-size: 18px;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;

  /* COLORS */

  --primary-light-red: hsl(0, 100%, 67%);
  --primary-orangey-yellow: hsl(39, 100%, 56%);
  --primary-green-teal: hsl(166, 100%, 37%);
  --primary-cobalt-blue: hsl(234, 85%, 45%);

  --gradients-light-slate-blue-bg: hsl(252, 100%, 67%);
  --gradients-light-royal-blue-bg: hsl(241, 81%, 54%);

  --gradients-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --gradients-persian-blue-circle: hsla(241, 72%, 46%, 0);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-pale-blue: hsl(221, 100%, 96%);
  --neutral-light-lavender: hsl(241, 100%, 89%);
  --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

/* GENERALES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-primary);
  background-color: var(--neutral-pale-blue);

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: start;
}

.summary {
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: column;
}

.result {
  /* border: 1px solid red; */

  width: 100%;
  padding: 1.5rem;
  border-radius: 0 0 1rem 1rem;
  background: linear-gradient(
    0deg,
    hsl(241, 81%, 54%) 0%,
    hsl(252, 100%, 67%) 100%
  );
}

/*  */

